<div class="container-fluid">
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <h4 class="card-title">{{ROLE_CONSTANT.role_heading}}</h4>
                                </div>
                                <div class="col-md-6">
                                    <a [routerLink]="['add-edit-role']"
                                        class="btn mr-1 shadow-z-2 btn-success float-right">{{ROLE_CONSTANT.role.addRole}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body collapse show">
                        <div class="card-block card-dashboard">
                            <p class="card-text">{{ROLE_CONSTANT.role.rolesListing}}</p>
                            <table class="table table-striped table-bordered roles-datatable" dataTable>
                                <thead>
                                    <tr>
                                        <th>{{ROLE_CONSTANT.role.field.rolename}}</th>
                                        <th>{{ROLE_CONSTANT.status}}</th>
                                        <th>{{ROLE_CONSTANT.action}}</th>
                                    </tr>
                                </thead> 
                                 <tbody>
                                    <tr *ngFor="let group of rolesData">
                                        <td>{{group.role_name}}</td>
                                        <td>
                                            <label class="switch" (change)="updateStatus(group.id, group.status)">
                                                <input type="checkbox" [checked]="group.status === 1 ? true : null">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="form-group mt-1 text-center">
                                                <a routerLink="add-edit-role/{{group.id}}"
                                                class="info p-0 mt-1" data-original-title="" title="">
                                                    <i class="icon-pencil font-medium-3 mr-2"></i>
                                                </a>
                                                <a  class="danger p-0 confirm-text"
                                                    (click)="deleteRole(group.id, group.is_deleted)">
                                                    <i class="icon-trash font-medium-3 mr-2"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>