<div class="container-fluid">
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <h4 class="card-title">{{USER_CONSTANT.user_heading}}</h4>
                                </div>
                                <div class="col-md-6">
                                    <a [routerLink]="['add-edit-user']"
                                        class="btn mr-1 shadow-z-2 btn-success float-right">{{USER_CONSTANT.user.addUser}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body collapse show">
                        <div class="card-block card-dashboard">
                            <p class="card-text">{{USER_CONSTANT.user.usersListing}}</p>
                            <table class="table table-striped table-bordered users-datatable" #dataTable>
                                <thead>
                                    <tr>
                                        <th>{{USER_CONSTANT.user.field.email}}</th>
                                        <th>{{USER_CONSTANT.user.field.mobilenumber}}</th>
                                        <th>{{USER_CONSTANT.user.field.designation}}</th>
                                        <th>{{USER_CONSTANT.user.field.department}}</th>
                                        <th>{{USER_CONSTANT.user.field.hod}}</th>
                                        <th>{{USER_CONSTANT.user.field.branch}}</th>
                                        <th>{{USER_CONSTANT.status}}</th>
                                        <th>{{USER_CONSTANT.action}}</th>
                                    </tr>
                                </thead> 
                                 <tbody>
                                    <tr *ngFor="let group of usersData">
                                        <td>{{group.email}}</td>
                                        <td>{{group.mobile_number}}</td>
                                        <td>{{group.role_name}}</td>
                                        <td>{{group.department}}</td>
                                        <td>{{group.hod}}</td>
                                        <td>{{group.branch}}</td>
                                        <td>
                                            <label class="switch" (change)="updateStatus(group.id, group.is_active)">
                                                <input type="checkbox" [checked]="group.is_active === 1 ? true : null">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="form-group mt-1 text-center">
                                                <a routerLink="add-edit-user/{{group.id}}"
                                                class="info p-0 mt-1" data-original-title="" title="">
                                                    <i class="icon-pencil font-medium-3 mr-2"></i>
                                                </a>
                                                <a  class="danger p-0 confirm-text"
                                                    (click)="deleteUser(group.id, group.is_deleted)">
                                                    <i class="icon-trash font-medium-3 mr-2"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>