<div class="container-fluid">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-warning">
                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <h4 class="card-title" id="basic-layout-form-center" *ngIf="isAddMode">{{MY_CONSTANT.user.addUser}}</h4>
                                    <h4 class="card-title" id="basic-layout-form-center" *ngIf="!isAddMode">{{MY_CONSTANT.user.editUser}}
                                    </h4>
                                </div>
                                <div class="col-md-6">
                                    <a [routerLink]="['/main/users']"
                                        class="btn mr-1 shadow-z-2 btn-primary float-right">{{MY_CONSTANT.back}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="px-3">
                            <form class="form" [formGroup]="addEditUserForm" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-body">
                                            <h4 class="form-section">
                                                <i class="icon-user"></i> {{MY_CONSTANT.user.userPersonalDetailsHeading}}
                                            </h4>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput1">{{MY_CONSTANT.user.field.firstname}}<span
                                                                class="required">*</span></label>
                                                        <input type="text" formControlName="firstname"
                                                            id="projectinput1" class="form-control"
                                                            placeholder="First Name"
                                                            [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }">

                                                        <div *ngIf="submitted && f['firstname'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f['firstname'].errors['required']">{{MY_CONSTANT.user.required.firstname}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput2">{{MY_CONSTANT.user.field.lastname}}<span
                                                                class="required">*</span></label>
                                                        <input type="text" formControlName="middlename"
                                                            id="projectinput2" class="form-control"
                                                            placeholder="Last Name"
                                                            [ngClass]="{ 'is-invalid': submitted && f['middlename'].errors }">

                                                        <div *ngIf="submitted && f['middlename'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f['middlename'].errors['required']">{{MY_CONSTANT.user.required.lastname}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput3">{{MY_CONSTANT.user.field.email}}<span
                                                                class="required">*</span></label>
                                                        <input type="text" formControlName="email" id="projectinput3"
                                                            class="form-control" placeholder="Email"
                                                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">

                                                        <div *ngIf="submitted && f['email'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f['email'].errors['required']">{{MY_CONSTANT.user.required.email}}
                                                            </div>
                                                        </div>
                                                        <div class="help-block" *ngIf="f['email'].errors && f['email'].dirty && f['email'].touched">
                                                            <ul role="alert">
                                                                <li *ngIf="f['email'].errors['pattern']">{{MY_CONSTANT.user.validEmail}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        <label for="projectinput4">{{MY_CONSTANT.user.field.mobilenumber}}<span
                                                                class="required">*</span></label>
                                                        <input type="text" formControlName="mobile_number"
                                                            id="projectinput4" class="form-control"
                                                            placeholder="Mobile Number"
                                                            [ngClass]="{ 'is-invalid': submitted && f['mobile_number'].errors }">

                                                        <div *ngIf="submitted && f['mobile_number'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f['mobile_number'].errors['required']">{{MY_CONSTANT.user.required.mobilenumber}}
                                                            </div>
                                                        </div>
                                                        <div class="help-block"
                                                            *ngIf="f['mobile_number'].errors && f['mobile_number'].dirty && f['mobile_number'].touched">
                                                            <ul role="alert" class="required">
                                                                <li *ngIf="f['mobile_number'].errors['pattern']">{{MY_CONSTANT.user.validmobile}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput6">{{MY_CONSTANT.user.field.designation}}<span
                                                                class="required">*</span></label>

                                                        <select id="projectinput6" formControlName="designation"
                                                            class="form-control"
                                                            [ngClass]="{ 'is-invalid': submitted && f['designation'].errors }">
                                                            <option value="" disabled="">{{MY_CONSTANT.user.field.designation}}</option>
                                                            <option *ngFor="let option of roleData; let i = index;"
                                                                value="{{option.id}}">
                                                                {{ option.role_name }}</option>
                                                        </select>

                                                        <div *ngIf="submitted && f['designation'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f['designation'].errors['required']">{{MY_CONSTANT.user.required.designation}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <h4 class="form-section">
                                                <i class="icon-book-open"></i>{{MY_CONSTANT.user.userDepartmentDetailsHeading}}
                                            </h4>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput7">{{MY_CONSTANT.user.field.department}}<span
                                                                class="required">*</span></label>
                                                        <input type="text" formControlName="department"
                                                            id="projectinput7" class="form-control"
                                                            placeholder="Department"
                                                            [ngClass]="{ 'is-invalid': submitted && f['department'].errors }">

                                                        <div *ngIf="submitted && f['department'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f['department'].errors['required']">{{MY_CONSTANT.user.required.department}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput8">{{MY_CONSTANT.user.field.hod}}<span
                                                                class="required">*</span></label>
                                                        <input type="text" formControlName="hod" id="projectinput8"
                                                            class="form-control" placeholder="HOD"
                                                            [ngClass]="{ 'is-invalid': submitted && f['hod'].errors }">

                                                        <div *ngIf="submitted && f['hod'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f['hod'].errors['required']">{{MY_CONSTANT.user.required.hod}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput9">{{MY_CONSTANT.user.field.branch}}<span
                                                                class="required">*</span></label>

                                                        <select id="projectinput9" formControlName="branch"
                                                            class="form-control"
                                                            [ngClass]="{ 'is-invalid': submitted && f['branch'].errors }">
                                                            <option value="" disabled="">Branch</option>
                                                            <option *ngFor="let option of branch" [value]="option.name">
                                                                {{ option.name }}</option>
                                                        </select>

                                                        <div *ngIf="submitted && f['branch'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f['branch'].errors['required']">{{MY_CONSTANT.user.required.branch}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions center">
                                            <button type="submit" class="btn btn-success"
                                                [disabled]="!addEditUserForm.valid">
                                                <i class="icon-note"></i> {{MY_CONSTANT.save}}
                                            </button>
                                            <button type="button" (click)="onReset()" class="btn btn-danger ml-1">
                                                <i class="icon-trash"></i> {{MY_CONSTANT.reset}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>