.d-none{
    display: none;
}

.ng-autocomplete{
    width: 600px !important;
}

form h6{
    color: #75787D;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: inherit;
}

.add-more{
    position: relative;
    bottom: 2px;
}

div.disabled {
    pointer-events: none;
    opacity: 0.5;
}

div.disabled input[type="file"] {
    cursor: not-allowed;
}