<ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
    <li class="nav-item" [ngClass]="{active: isMainActive}">
      <a (click)="handleMainMenuAction()"><i class="{{menuItem.iconClasses}} {{menuItem.name}}"></i><span class="menu-title">{{ menuItem.name }}</span></a>
      <!-- <ul class="menu-content" *ngFor="let menu of menuItem">
       <li [class.active]="activeMenuItem === menu.name" class="{{menu.name}}"><a (click)="setActiveMenuItem(menu.name)"
           [routerLink]="menu.path" class="menu-item">{{ menu.name }}</a>
        </li>
      </ul> -->
    </li>
  </ul>