<div class="container-fluid">
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <h4 class="card-title">{{TENDOR_CONSTANT.tendorsHeading}}</h4>
                                </div>
                                <div class="col-md-6">
                                    <a [routerLink]="['add-edit-tender']"
                                        class="btn mr-1 shadow-z-2 btn-success float-right"
                                        *ngIf="result_data.can_insert">{{TENDOR_CONSTANT.tendor.addTendor}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body collapse show">
                        <div class="card-block card-dashboard">
                            <p class="card-text">{{TENDOR_CONSTANT.tendor.tendorsListing}}</p>
                            <ngx-spinner
                            bdColor="grey"
                            size="small"
                            color="#fff"
                            type="ball-scale-multiple"
                            *ngIf="isLoading"
                            [fullScreen]="true"
                            template="<img src='../../../assets/img/Loading_2.gif' />">
                            </ngx-spinner>
                            <table class="table table-striped table-bordered table-responsive-md text-center tendors-datatable" #dataTable>
                                <thead>
                                    <tr>
                                        <th>{{TENDOR_CONSTANT.tendor.field.tendor_name}}</th>
                                        <th>{{TENDOR_CONSTANT.tendor.field.tendor_number}}</th>
                                        <th>{{TENDOR_CONSTANT.tendor.field.tendor_document}}</th>
                                        <th>{{TENDOR_CONSTANT.tendor.field.work_order_issue_date }}</th>
                                        <th>{{TENDOR_CONSTANT.tendor.field.work_order_no}}</th>
                                        <th>{{TENDOR_CONSTANT.tendor.field.work_order_document}}</th>
                                        <th *ngIf="result_data.can_edit">{{TENDOR_CONSTANT.status}}</th>
                                        <th *ngIf="result_data.can_edit || result_data.can_delete || result_data.can_view">{{TENDOR_CONSTANT.action}}</th>
                                    </tr>
                                </thead> 
                                 <tbody>
                                    <tr *ngFor="let group of tendorsData">
                                        <td>{{group.tendor_name}}</td>
                                        <td>{{group.tendor_number}}</td>
                                        <td>{{group.tendor_document_name}}</td>
                                        <td>{{group.work_order_issue_date | date: 'dd/MM/yyyy' }}</td>
                                        <td>{{group.work_order_no}}</td>
                                        <td>{{group.work_order_document_name}}</td>
                                        <td *ngIf="result_data.can_edit">
                                            <label class="switch" (change)="updateStatus(group.id, group.is_active)">
                                                <input type="checkbox" [checked]="group.is_active === 1 ? true : null">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td *ngIf="result_data.can_edit || result_data.can_delete || result_data.can_view" class="d-flex">
                                            <a class="info p-0" routerLink="add-edit-tender/{{group.id}}" data-original-title="" title="">
                                                <i class="icon-pencil font-medium-1 mr-2" title="edit"  *ngIf="result_data.can_edit"></i>
                                            </a>
                                            <a class="danger p-0" data-original-title="" title="" (click)="deleteTendor(group.id, group.is_deleted)">
                                                <i class="icon-trash font-medium-1 mr-2" title="delete" *ngIf="result_data.can_delete"></i>
                                            </a>
                                            <a class="primary p-0" data-original-title="" title="" (click)="openDocumentInNewTab(group.tendor_document_id, group.tendor_document_name, group.tendor_document_type)">
                                                <i class="fa fa-file-pdf-o font-medium-1 mr-2" title="tendor document" *ngIf="result_data.can_view"></i>
                                            </a>
                                            <a class="light p-0" data-original-title="" title="" (click)="openDocumentInNewTab(group.work_order_document_id, group.work_order_document_name, group.work_order_document_type)">
                                                <i class="fa fa-file-pdf-o font-medium-1 mr-2" title="work order document" *ngIf="result_data.can_view"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>