<div class="container-fluid">
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <h4 class="card-title">{{MENU_CONSTANT.menuHeading}}</h4>
                                </div>
                                <div class="col-md-6">
                                    <a [routerLink]="['add-edit-menu-master']"
                                        class="btn mr-1 shadow-z-2 btn-success float-right">{{MENU_CONSTANT.menu.addMenu}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body collapse show">
                        <div class="card-block card-dashboard">
                            <p class="card-text">{{MENU_CONSTANT.menu.menusListing}}</p>
                            <table class="table table-striped table-bordered menu-datatable" dataTable>
                                <thead>
                                    <tr>
                                        <th>{{MENU_CONSTANT.menu.field.menuname}}</th>
                                        <th>{{MENU_CONSTANT.status}}</th>
                                        <th>{{MENU_CONSTANT.action}}</th>
                                    </tr>
                                </thead>
                                 <tbody *ngIf="menuData.length > 0">
                                    <tr *ngFor="let group of menuData; let i = index">
                                        <td>{{group.Name}}</td>
                                        <td>
                                            <label class="switch" (change)="updateStatus(group.id, group.is_active)">
                                                <input type="checkbox" [checked]="group.is_active === 1 ? true : null">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="form-group mt-1 text-center">
                                                <a routerLink="add-edit-menu-master/{{group.id}}"
                                                class="info p-0 mt-1" data-original-title="" title="">
                                                    <i class="icon-pencil font-medium-3 mr-2"></i>
                                                </a>
                                                <a (click)="swapRank(menuData.length, i, i-1, 'up')"><i class="icon-arrow-up mr-2 font-medium-3"></i></a>
                                                <a (click)="swapRank(menuData.length, i, i+1, 'down')"><i class="icon-arrow-down mr-2 font-medium-3"></i></a>
                                                <a  class="danger p-0 confirm-text"
                                                    (click)="deleteMenu(group.id, group.is_deleted)">
                                                    <i class="icon-trash font-medium-3 mr-2"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="menuData.length === 0">
                                    <td>No Data Found</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>