<div class="container-fluid">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-warning">
                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <h4 class="card-title" id="basic-layout-form-center" *ngIf="isAddMode">
                                        {{TENDOR_CONSTANT.tendor.addTendor}}</h4>
                                    <h4 class="card-title" id="basic-layout-form-center" *ngIf="!isAddMode">
                                        {{TENDOR_CONSTANT.tendor.editTendor}}
                                    </h4>
                                </div>
                                <div class="col-md-6">
                                    <a [routerLink]="['/main/tender-master']"
                                        class="btn mr-1 shadow-z-2 btn-success float-right">{{TENDOR_CONSTANT.back}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="px-3">
                            <form class="form" [formGroup]="addEditTendorForm" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label
                                                            for="projectinput1">{{TENDOR_CONSTANT.tendor.field.tendor_name}}<span
                                                                class="required">*</span></label>
                                                        <input type="text" formControlName="tendor_name"
                                                            id="projectinput1" class="form-control"
                                                            placeholder="Tendor Name"
                                                            [ngClass]="{ 'is-invalid': submitted && f['tendor_name'].errors }">

                                                        <div *ngIf="submitted && f['tendor_name'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f['tendor_name'].errors['required']">
                                                                {{TENDOR_CONSTANT.tendor.required.tendor_name}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label
                                                            for="projectinput2">{{TENDOR_CONSTANT.tendor.field.tendor_number}}<span
                                                                class="required">*</span></label>

                                                        <input type="text" formControlName="tendor_number"
                                                            id="projectinput2" class="form-control"
                                                            placeholder="Tendor Number"
                                                            [ngClass]="{ 'is-invalid': submitted && f['tendor_number'].errors }">

                                                        <div *ngIf="submitted && f['tendor_number'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f['tendor_number'].errors['required']">
                                                                {{TENDOR_CONSTANT.tendor.required.tendor_number}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <h6 for="projectinput3">{{TENDOR_CONSTANT.tendor.field.tendor_document}}<span
                                                                class="required">*</span></h6>
                                                        <div class="controls">
                                                            <input type="file" class="form-control" id="projectinput3"
                                                                formControlName="tendor_document"
                                                                (change)="onFileChange($event)">
                                                        </div>
                                                        <div *ngIf="submitted && selectedFile === null && !id"
                                                            class="error-message">
                                                            <div>{{TENDOR_CONSTANT.tendor.required.tendor_document}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label
                                                            for="projectinput4">{{TENDOR_CONSTANT.tendor.field.work_order_issue_date}}<span
                                                                class="required">*</span></label>

                                                        <input type="date" id="projectinput4" class="form-control"
                                                            formControlName="work_order_issue_date">
                                                        <div *ngIf="submitted && f['work_order_issue_date'].errors"
                                                            class="error-message">
                                                            <div *ngIf="f['work_order_issue_date'].errors['required']">
                                                                {{TENDOR_CONSTANT.tendor.required.work_order_issue_date}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label
                                                            for="projectinput5">{{TENDOR_CONSTANT.tendor.field.work_order_no}}<span
                                                                class="required">*</span></label>
                                                        <input type="text" formControlName="work_order_no"
                                                            id="projectinput5" class="form-control"
                                                            placeholder="Work Order No"
                                                            [ngClass]="{ 'is-invalid': submitted && f['work_order_no'].errors }">

                                                        <div *ngIf="submitted && f['work_order_no'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f['work_order_no'].errors['required']">
                                                                {{TENDOR_CONSTANT.tendor.required.work_order_no}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <h6
                                                        for="projectinput6">{{TENDOR_CONSTANT.tendor.field.work_order_document}}<span
                                                                class="required">*</span></h6>
                                                        <div class="controls">
                                                            <input type="file" class="form-control" id="projectinput6"
                                                                formControlName="work_order_document"
                                                                (change)="onWorkOrderFileChange($event)">
                                                        </div>
                                                        <div *ngIf="submitted && workOrderselectedFile === null && !id"
                                                            class="error-message">
                                                            <div>{{TENDOR_CONSTANT.tendor.required.work_order_document}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label
                                                            for="projectinput7">{{TENDOR_CONSTANT.bank.field.vendor}}<span
                                                                class="required">*</span></label>

                                                        <select id="projectinput7" formControlName="vendor"
                                                            class="form-control"
                                                            [ngClass]="{ 'is-invalid': submitted && f['vendor'].errors }">
                                                            <option value="" disabled="">Vendor</option>
                                                            <option *ngFor="let option of vendorData"
                                                                [value]="option.id">
                                                                {{ option.name }}</option>
                                                        </select>

                                                        <div *ngIf="submitted && f['vendor'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f['vendor'].errors['required']">
                                                                {{TENDOR_CONSTANT.bank.required.vendor}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label
                                                            for="projectinput8">{{TENDOR_CONSTANT.bank.field.file_no}}<span
                                                                class="required">*</span></label>

                                                        <input type="text" formControlName="file_no" id="projectinput8"
                                                            class="form-control" placeholder="File Number"
                                                            [ngClass]="{ 'is-invalid': submitted && f['file_no'].errors }">

                                                        <div *ngIf="submitted && f['file_no'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f['file_no'].errors['required']">
                                                                {{TENDOR_CONSTANT.bank.required.file_no}}</div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions center">
                                            <ngx-spinner
                                                bdColor="grey"
                                                size="small"
                                                color="#fff"
                                                type="ball-scale-multiple"
                                                *ngIf="isLoading"
                                                [fullScreen]="true"
                                                template="<img src='../../../assets/img/Loading_2.gif' />">
                                                </ngx-spinner>
                                            <button type="submit" class="btn btn-success">
                                                <i class="icon-plus"></i> {{TENDOR_CONSTANT.save}}
                                            </button>
                                            <button type="button" (click)="onReset()" class="btn btn-danger ml-1">
                                                <i class="icon-trash"></i> {{TENDOR_CONSTANT.reset}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>