<div class="container-fluid">
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="card-title">Flow Master</h4>
                                </div>
                                <div class="col-md-6">
                                    <a [routerLink]="['add-flow-master']" class="btn mr-1 shadow-z-2 btn-success float-right">Add
                                        Flow Master</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body collapse show">
                        <div class="card-block card-dashboard">
                            <p class="card-text">Flow Master Listing</p>
                            <table class="row-border hover">
                            </table>
                            <table class="table table-striped table-bordered flow-master-datatable" datatable>
                                <thead>
                                    <tr>
                                        <th>Designation</th>
                                        <th>Send From</th>
                                        <th>Send To</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="flowMasterData.length > 0">
                                    <tr *ngFor="let group of flowMasterData">
                                        <td>{{group.designation_name}}</td>
                                        <td>{{group.send_from}}</td>
                                        <td>{{group.send_to}}</td>
                                        <td>
                                            <div class="form-group mt-1 text-center">
                                                <a routerLink="add-flow-master/{{group.designation_id}}"
                                                class="info p-0 mt-1" data-original-title="" title="">
                                                    <i class="icon-pencil font-medium-3 mr-2"></i>
                                                </a>
                                                <a  class="danger p-0 confirm-text"
                                                    (click)="deleteFlow(group.designation_id, group.is_deleted)">
                                                    <i class="icon-trash font-medium-3 mr-2"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="flowMasterData.length === 0">
                                    <td>No Data Found</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>