<section id="extended">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">{{RIGHT_CONSTANT.rightmasterHeading}}</h4>
                    </div>
                    <form class="form" [formGroup]="searchForm" (ngSubmit)="search()">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="projectinput1">{{RIGHT_CONSTANT.right.field.rolename}}<span
                                            class="required">*</span></label>
                                    <select id="projectinput1" formControlName="role" class="form-control">
                                        <option value="" disabled="" selected>
                                            {{RIGHT_CONSTANT.right.field.rolename}}</option>
                                        <option *ngFor="let option of roleData; let i = index;"
                                            value="{{option.id}}">
                                            {{ option.role_name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="projectinput2">{{RIGHT_CONSTANT.right.field.menuname}}<span
                                            class="required">*</span></label>
                                    <select id="projectinput2" formControlName="menu" class="form-control">
                                        <option value="" disabled="" selected>{{RIGHT_CONSTANT.right.field.menuname}}
                                        </option>
                                        <option *ngFor="let option of menuData; let i = index;" value="{{option.id}}">
                                            {{ option.Name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 pt-3 mt-1">
                                <button type="submit" class="btn btn-success">{{RIGHT_CONSTANT.bindmenu}}
                                </button>
                                <button type="button" class="btn btn-info ml-2" *ngIf="rightsData.length > 0"
                                    (click)="saveMenu()">{{RIGHT_CONSTANT.savemenu}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <table class="table table-striped table-bordered text-center rights-datatable" datatable>
                            <thead>
                                <tr>
                                    <th class="text-center">{{RIGHT_CONSTANT.right.field.resourcename}}</th>
                                    <th class="text-center">{{RIGHT_CONSTANT.right.field.resourceurl}}</th>
                                    <th class="text-center">{{RIGHT_CONSTANT.right.field.insert}}<div
                                            class="custom-control custom-checkbox m-0">
                                            <input type="checkbox" class="custom-control-input"
                                                [checked]="selectAllInsert" id="checkinsertall"
                                                (change)="toggleSelectAllInsert()">
                                            <label class="custom-control-label" for="checkinsertall"></label>
                                        </div>
                                    </th>
                                    <th class="text-center">{{RIGHT_CONSTANT.right.field.edit}}<div
                                            class="custom-control custom-checkbox m-0">
                                            <input type="checkbox" class="custom-control-input"
                                                [checked]="selectAllEdit" id="checkeditall"
                                                (change)="toggleSelectAllEdit()">
                                            <label class="custom-control-label" for="checkeditall"></label>
                                        </div>
                                    </th>
                                    <th class="text-center">{{RIGHT_CONSTANT.right.field.view}}<div
                                            class="custom-control custom-checkbox m-0">
                                            <input type="checkbox" class="custom-control-input"
                                                [checked]="selectAllView" id="checkviewall"
                                                (change)="toggleSelectAllView()">
                                            <label class="custom-control-label" for="checkviewall"></label>
                                        </div>
                                    </th>
                                    <th class="text-center">{{RIGHT_CONSTANT.right.field.delete}}<div
                                            class="custom-control custom-checkbox m-0">
                                            <input type="checkbox" class="custom-control-input"
                                                [checked]="selectAllDelete" id="checkdeleteall"
                                                (change)="toggleSelectAllDelete()">
                                            <label class="custom-control-label" for="checkdeleteall"></label>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="rightsData.length > 0">
                                <tr *ngFor="let group of rightsData; let i=index;">
                                    <td>{{group.resource_name}}</td>
                                    <td>{{group.resource_url}}</td>
                                    <td>
                                        <div class="custom-control custom-checkbox m-0">
                                            <input type="checkbox" class="custom-control-input"
                                                [checked]="group.can_insert" id="checkedInsert_{{group.resource_name}}"
                                                (change)="toggleCheckboxInsert(group)">
                                            <label class="custom-control-label"
                                                for="checkedInsert_{{group.resource_name}}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox m-0">
                                            <input type="checkbox" class="custom-control-input"
                                                [checked]="group.can_edit" id="checkedEdit_{{group.resource_name}}"
                                                (change)="toggleCheckboxEdit(group)">
                                            <label class="custom-control-label"
                                                for="checkedEdit_{{group.resource_name}}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox m-0">
                                            <input type="checkbox" class="custom-control-input"
                                                [checked]="group.can_view" id="checkedView_{{group.resource_name}}"
                                                (change)="toggleCheckboxView(group)">
                                            <label class="custom-control-label"
                                                for="checkedView_{{group.resource_name}}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox m-0">
                                            <input type="checkbox" class="custom-control-input"
                                                [checked]="group.can_delete" id="checkedDelete_{{group.resource_name}}"
                                                (change)="toggleCheckboxDelete(group)">
                                            <label class="custom-control-label"
                                                for="checkedDelete_{{group.resource_name}}"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="rightsData.length === 0">
                                <td>No Data Found</td>
                            </tbody>
                        </table>
                        <!-- <div id="empty-message">
                            No Record Found
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>