<div class="container-fluid">
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <h4 class="card-title">{{RESOURCE_CONSTANT.resource_heading}}</h4>
                                </div>
                                <div class="col-md-6">
                                    <a [routerLink]="['add-edit-resource']"
                                        class="btn mr-1 shadow-z-2 btn-success float-right"
                                        *ngIf="result_data.can_insert">{{RESOURCE_CONSTANT.resource.addResource}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body collapse show">
                        <div class="card-block card-dashboard">
                            <p class="card-text">{{RESOURCE_CONSTANT.resource.resourcesListing}}</p>
                            <table class="table table-striped table-bordered resources-datatable" #dataTable>
                                <thead>
                                    <tr>
                                        <th>{{RESOURCE_CONSTANT.resource.field.resourcename}}</th>
                                        <th>{{RESOURCE_CONSTANT.resource.field.resourceurl}}</th>
                                        <th *ngIf="result_data.can_edit">{{RESOURCE_CONSTANT.status}}</th>
                                        <th *ngIf="result_data.can_edit || result_data.can_delete">{{RESOURCE_CONSTANT.action}}</th>
                                    </tr>
                                </thead> 
                                 <tbody>
                                    <tr *ngFor="let group of resourcesData">
                                        <td>{{group.resource_name}}</td>
                                        <td>{{group.resource_url}}</td>
                                        <td *ngIf="result_data.can_edit">
                                            <label class="switch" (change)="updateStatus(group.id, group.is_active)">
                                                <input type="checkbox" [checked]="group.is_active === 1 ? true : null">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td *ngIf="result_data.can_edit || result_data.can_delete">
                                            <div class="form-group mt-1 text-center">
                                                <a routerLink="add-edit-resource/{{group.id}}"
                                                class="info p-0 mt-1" data-original-title="" title="">
                                                    <i class="icon-pencil font-medium-3 mr-2" title="edit" *ngIf="result_data.can_edit"></i>
                                                </a>
                                                <a  class="danger p-0 confirm-text"
                                                    (click)="deleteResource(group.id, group.is_deleted)">
                                                    <i class="icon-trash font-medium-3 mr-2" title="delete" *ngIf="result_data.can_delete"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>