<div class="container-fluid">
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <h4 class="card-title">{{BANK_CONSTANT.bankHeading}}</h4>
                                </div>
                                <div class="col-md-6">
                                    <a [routerLink]="['add-edit-bank-guarantee-master']"
                                        class="btn mr-1 shadow-z-2 btn-success float-right" *ngIf="result_data.can_insert">{{BANK_CONSTANT.bank.addBank}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body collapse show">
                        <div class="card-block card-dashboard">
                            <p class="card-text">{{BANK_CONSTANT.bank.banksListing}}</p>
                            <ngx-spinner
                            bdColor="grey"
                            size="small"
                            color="#fff"
                            type="ball-scale-multiple"
                            *ngIf="isLoading"
                            [fullScreen]="true"
                            template="<img src='../../../assets/img/Loading_2.gif' />">
                            </ngx-spinner>
                            <table class="table table-responsive-md text-center table-striped table-bordered bankguarantee-datatable" dataTable>
                                <thead>
                                    <tr>
                                        <th class="text-center">{{BANK_CONSTANT.bank.field.bankname}}</th>
                                        <th class="text-center">{{BANK_CONSTANT.bank.field.bankbranch}}</th>
                                        <th class="text-center">{{BANK_CONSTANT.bank.field.bankifsccode}}</th>
                                        <!-- <th>{{BANK_CONSTANT.bank.field.bankaddress}}</th> -->
                                        <th class="text-center">{{BANK_CONSTANT.bank.field.bankvalidtilldate}}</th>
                                        <th class="text-center">{{BANK_CONSTANT.bank.field.vendor}}</th>
                                        <!-- <th>{{BANK_CONSTANT.bank.field.bg_number}}</th> -->
                                        <th class="text-center">{{BANK_CONSTANT.bank.field.file_no}}</th>
                                        <th class="text-center">{{BANK_CONSTANT.bank.field.tendor}}</th>
                                        <th class="text-center">{{BANK_CONSTANT.status}}</th>
                                        <!-- <th>{{BANK_CONSTANT.bank.field.remarks}}</th> -->
                                        <!-- <th>{{BANK_CONSTANT.status}}</th> -->
                                        <th class="text-center" *ngIf="result_data.can_edit || result_data.can_delete || result_data.can_view">{{BANK_CONSTANT.action}}</th>
                                    </tr>
                                </thead>
                                 <tbody *ngIf="bankGuaranteeData.length > 0">
                                    <tr *ngFor="let group of bankGuaranteeData">
                                        <td>{{group.bank_name}}</td>
                                        <td>{{group.bank_branch}}</td>
                                        <td>{{group.bank_ifsc_code}}</td>
                                        <!-- <td>{{group.bank_address}}</td> -->
                                        <td>{{group.valid_till_date | date: 'dd/MM/yyyy'}}</td>
                                        <td>{{group.vendor}}</td>
                                        <!-- <td>{{group.bg_number}}</td> -->
                                        <td>{{group.file_no}}</td>
                                        <td>{{group.tender}}</td>
                                        <td>{{group.bank_detail_status}}</td>
                                        <!-- <td>{{group.remarks}}</td> -->
                                        <!-- <td>
                                            <label class="switch" (change)="updateStatus(group.id, group.is_active)">
                                                <input type="checkbox" [checked]="group.is_active === 1 ? true : null">
                                                <span class="slider round"></span>
                                            </label>
                                        </td> -->
                                        <td *ngIf="result_data.can_edit || result_data.can_delete || result_data.can_view" class="d-flex">
                                                <a routerLink="add-edit-bank-guarantee-master/{{group.id}}"
                                                class="info p-0 mt-1" data-original-title="" title="">
                                                    <i class="icon-pencil font-medium-3 mr-2" title="Edit" *ngIf="result_data.can_edit"></i>
                                                </a>
                                                <a  class="danger p-0 mt-1 confirm-text"
                                                    (click)="deleteBank(group.id, group.is_deleted)">
                                                    <i class="icon-trash font-medium-3 mr-2" title="Delete" *ngIf="result_data.can_delete"></i>
                                                </a>
                                                <a class="primary p-0 mt-1"
                                                (click)="openDocumentInNewTab(group.bg_doc_id, group.bg_doc_name, group.bg_doc_type)">
                                                <i class="fa fa-file-pdf-o font-medium-3 mr-2" title="Bg document" *ngIf="result_data.can_view"></i>
                                                </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>